# Node
node_modules/
nodemon

# Config
.env

# State presistance
.state/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-error.log

# Other
*.sublime-workspace
.DS_Store
